
.background_wrapper{
    background: url(../images/background1.png);
      height: 768px;
     width: 1366px; 
     margin: auto;
}
.wrapper{
    width: 1030px;
    margin: 0 auto;
    height: 100%;
      
}
.header{
 display: flex;
 justify-content: space-between;
 margin-top: 46px;
 
}
.logobox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.castle_logo{
    margin-right: 8px;
   
}
.logoimg{
    position: relative;
}
.castle_logo2{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.left_block{
    display:flex;
    margin-top: 46px;
    
}
    
.left_block:hover .milan{
  color: #F26522;
}
.left_block:hover .holidays{
    color: #F26522;
  }

.left_block:hover .castle_logo2 { 
   opacity: 1;
}
.left_block a {
    text-decoration: none;
    color: white;
    display: flex;
}

.milan{
    font-size: 29px;
    font:bold;
}
 
.holidays{
    font-size: 18px;
    font-weight: 700;
}

.right_block{
   display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 46px;
    padding: 0;
}
.link_right{
    text-decoration: none;
    font-size: 18px;
    color: white;;
}
.right_block:hover .link_right{
    color: #F26522;
}

.main_container{
    display: grid;
    grid-template:
     "item1 item2 item3"
     "item4 item5 item6";
     width: 1030px;
     height: 560px;
     justify-content: space-around;
     column-gap: 60px;
     row-gap: 37px;
     margin-top: 22px;
}
.image_container{
    width: 300px;
    height: 220px;
    position: relative;
}    
.image{
    width: 300px;
    height: 220px;


}
.item1{
    grid-area: item1;
    position: relative;
}
.item1_link{
    text-decoration: none;
}
.shopping_tours{
    margin-left: 90px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font: bold;
}
/* .item1_link:hover{
    border: 1px solid #F26522;
   
} */
.item1_link:hover .shopping_tours{
    color: #F26522;
}
.item2{
    grid-area: item2;
}
.item2_link{
    text-decoration: none;
}
.sightseeing_tours{
    margin-left: 85px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font: bold;
}

/* .item2_link:hover{
    border: 1px solid #F26522;
} */
.item2_link:hover .sightseeing_tours{
    color: #F26522;
}

.item3{
    grid-area: item3;
}
.item3_link{
    text-decoration: none;
}
.food_tours{
    margin-left: 110px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font: bold;

}
 
.item3_link:hover .food_tours{
    color: #F26522;
}

.item4{
    grid-area: item4;
}
.item4_link{
    text-decoration: none;
}
/* .item4_link:hover{
    border: 1px solid #F26522;
} */
.item4_link:hover .bars_nightlife{
    color: #F26522;
}
.bars_nightlife{
    margin-left: 95px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font: bold;

}
.item5{
    grid-area: item5;
}
.item5_link{
    text-decoration: none;
}
/* .item5_link:hover{
    border: 1px solid #F26522;
} */
.item5_link:hover .art_architecture{
    color: #F26522;
}
.art_architecture{
    margin-left: 85px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font: bold;
}
.item6{
    grid-area: item6;
}
.item6_link{
    text-decoration: none;
}
/* .item6_link:hover{
    border: 1px solid #F26522;
} */
.item6_link:hover .walking_tours{
    color: #F26522;
}
.walking_tours{
    margin-left: 95px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font: bold;
}

.main_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* width: 300px;
    height: 220px;
     */
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
    
}
.footer_text{
    font-size: 15px;
    color: white;
   
    
}

.hover{
    display:flex;
    flex-direction: row;
    width: 99.5%;
    height: 55px;
    background-color:  #F26522;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    justify-content: space-between;
   
    
}
.hover_left_block{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 16px;
    
   

}
.hover_right_block{
    flex-direction: column;
    display: flex;
    justify-content: end;
    margin: 16px;
}
.item1:hover .hover{
    visibility: visible;

}

.from{
    font-size: 10px;
    color: white;
}
.price{
    font-size:20px;
    color: white;
}
 /* .hover_right_block{
    align-items: end; 
} */
.details{
    font-size: 14px;
    color: white;
    
   
}
.details::after{ 
    border-left: 1px solid white;
    border-top: 1px solid white;
    width: 6px;
    content: '';
    height: 6px;
    transform: rotate(135deg);
   margin-left: 16px;
    float: right;
    margin-top: 3px;
  }

